body{
    font-family: 'Poppins', sans-serif;
    margin:0;
}
h1{
    font-size:25px;
}
.name_style{
    color:orange;
}
.half-width{
    width: 40%;
    float:left;
    margin-left: 4%;
    padding:3%;
    font-size:large;
}
.half-width img{
    width:90%;
}
.top-banner{
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;
}
section{
    height: 100px;
    
}
.button-decoration{
    text-decoration:none;
    color:white;
    background-image: linear-gradient(skyblue,blue);
    border:10px 30px;
    border-radius:5px;
}
.button-decoration:hover{
    color:yellow;
    font-weight: bold;
}
.mid-width{
    width:40%;
    float:left;
    margin-left:4%;
    padding-left:2%;
}
.mid-width img{
    width: 80%;
}